<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">乐享一生</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#about">关于我</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#reading">读书笔记</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#work">工作日志</a>
                </li>
                <li>
                    <a class="nav-link" href="#life">生活随笔</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/study.html">学习笔记</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#explore">到处逛逛</a>
                </li>
                <li>
                    <a class="nav-link" href="#toolkit">工具栏</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#more">未完待续...</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
